body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background: #CCFFFF url(http://orig10.deviantart.net/3bef/f/2011/320/d/1/cloudy_texture_4_by_ohsallysfever-d4gfe71.jpg) center no-repeat;
  padding-bottom: 2em;
  margin: 0;
}

/*
  *******************************************************
  Layout
  *******************************************************
*/

#wrapper {
  width: 80%;
  margin: 0 auto;
}

#content {
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: block;
  margin-bottom: 1.2em;
}

/*
  *******************************************************
  Header
  *******************************************************
*/


.logo {
  float: right;
  margin: 0 0.8em 0.4em 0;
  font-size: 2.4em;
}

#header {
  background: linear-gradient(rgba(0,0,0,0.1) 8%, rgba(0,0,0,0.05) 15%, rgba(0,0,0,0) 30%);
/*  background: linear-gradient(red, yellow);*/
  padding-top: 0.7em;
}

/*
  *******************************************************
  Buttons
  *******************************************************
*/

.button_to {
  display: inline-block;
  /*width: 33%;*/
  margin: 0 0.2em;
}

.btn {
/*  border: 1px solid #000;*/
/*  background: #eee;*/
  background-color: rgba(255,255,255,0.9);
  border-radius: 2px;
  font: inherit;
  font-size: 0.8em;
  cursor: pointer;
  min-width: 4em;
}

.btn:hover {
  background: #bbb;
}

.btn:active {
  background: #ddd;
}

.btn-show {
  width: 100%;
}

/*
  *******************************************************
  Nav
  *******************************************************
*/

nav li {
  display: inline-block;
  margin: 0 1em;
}

nav a {
  text-decoration: none;
  font: inherit;
  font-size: 1.2em;
  color: #694489;
  padding: 2px 4px;
}

nav a:hover {
  text-decoration: none;
  color: #BDA0CB;
}

nav a:active {
  color: #fff;
}

/*
  *******************************************************
  Form
  *******************************************************
*/

label {
  display: inline-block;
}

input {
  border: none;
  background-color: rgba(255,255,255,0.75);
  padding: 4px 6px;
}

input:focus {
  outline: 0;
  background-color: #fff;
}

/*
  *******************************************************
  Team
  *******************************************************
*/

.emblem {
  height: 200px;
}

img.emblem-show {
  float: right;
  height: 330px;
}

div.team {
  display: inline-block;
}
.team {
  text-align: center
}

.team-name {

}

/*
  *******************************************************
  Table
  *******************************************************
*/

table {
  border-collapse: collapse;
  margin-bottom: 1.2em
}

th, td {
  padding: 0.2em 1em;
}

th {
  border-bottom: 2px solid #666;
}

td {
  border-bottom: 1px solid #aaa;
}


/*
  *******************************************************
  Clearfix
  *******************************************************
*/

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
